<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Agregar Pelicula</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Agregando Estrenos</h2>
    <div>
        <form class="form-horizontal" th:object="${pelicula}" th:action="@{/pelicula}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">Titulo:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="titulo"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Fecha:</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="fecha"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Hora:</label>
                <div class="col-sm-10">
                    <input type="time" class="form-control" name="hora"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Sinopsis:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="sinopsis"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Categoria:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="categoria"/>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>
